@model Telerik.Web.Mvc.GridModel<ApplyJobModel>
@using Telerik.Web.Mvc.UI


<div class="pageContainer">

    @Html.Partial("_Breadcrumb", "Apply Jobs")


    @(Html.Telerik().Grid<ApplyJobModel>()
         .Name("ApplyJobModel-grid")
         .BindTo(Model.Data)
         .Columns(columns =>
         {
                columns.Bound(x => x.FullName).Width(200).Template(x => Html.ActionLink(x.FullName, "Edit", "ApplyJob", new { id = x.Id }, new { }));
                columns.Bound(x => x.JobName).Width(300).Template(x => Html.ActionLink(x.JobName, "Edit", "ApplyJob", new { id = x.Id }, new { }));
                columns.Bound(x => x.Email);
                columns.Bound(x => x.IsActive).Centered().Template(item => @Html.SymbolForBool(item.IsActive)).ClientTemplate(@Html.SymbolForBool("Published"));
                columns.Bound(x => x.ApplyDate);
                columns.Bound(x => x.Id)
                                .Template(x => Html.ActionLink("View", "Edit", new { id = x.Id }, new { @class = "t-button" }))
                                .ClientTemplate("<a href=\"ApplyJob/Edit/<#= Id #>\" class=\"t-button\">Edit</a>")
                                .Title(String.Empty).Width(100)
                                .HtmlAttributes(new { align = "right", @class = "omega" });
         }).Pageable(settings => settings.Total(Model.Total).PageSize(15).Position(GridPagerPosition.Both))
    )

</div>


 