@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<div class="jumbotron">
    <h1>Charity Connections</h1>
    <p class="lead">Helping volunteers and charity groups to connect and create stronger communities.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Sign Up &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Volunteer</h2>
        <p>
            If you like to volunteer your time to help others and are looking for charity groups to assist, you can create an account, or search our database of charity organizations.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Search Charity Groups &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Charity Organization</h2>
        <p>Is your charity group or organization in need of volunteers? Connect with our database of volunteers looking to help! </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Search for Volunteers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Guest</h2>
        <p>Just like to explore our site to see what we offer?  Go ahead, be our Guest!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Guest Services &raquo;</a></p>
    </div>
</div>