@using Microsoft.AspNet.Identity;

<div class="pageContainer">

    <h5 class="text-primary mb-4 mt-3">Hello <span class="m-link">@User.Identity.GetUserName()</span> </h5>
    <h4 class="text-danger">You don't have permission to do this action <br /> <span class="m-link">in demo version</span>.</h4>
     

</div>

